{{- /*gotype: gpsync/internal/gen.SyncMsgOrEnumDef*/ -}}
package {{.Pkg}}
{{range .Imports}}
    import "{{.}}"
{{end}}

type {{.StructName}} struct {
    {{range $idx,$field :=  .MsgFields}}
        {{$field.Name}} {{$field.SyncName}}
        {{$field.Name}}INDEX int
    {{end}}
    dirtyFieldMark []uint8
    parent syncdep.Sync
    indexInParent int
}

func New{{.StructName}}() *{{.StructName}}{
    return &{{.StructName}}{
        {{range $idx,$field :=  .MsgFields}}
            {{$field.Name}}INDEX : {{$idx}},
        {{end}}
        dirtyFieldMark : {{}}
    }
}